* {
   box-sizing: border-box;
}

body {
   font-family: "Karla", sans-serif;
   margin: 0;
}

main {
   padding: 36px;
}

.header {
   display: flex;
   align-items: center;
   height: 65px;
   background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
   color: white;
   padding: 20px;
}

.header--image {
   height: 100%;
   margin-right: 6px;
}

.header--title {
   font-size: 1.25rem;
   margin-right: auto;
}

.header--project {
   font-size: 0.75rem;
   font-weight: 500;
}

.form {
   display: grid;
   grid-template: 40px 40px / 1fr 1fr;
   gap: 17px;
   margin-bottom: 17px;
}

.form--input {
   font-family: "Karla", sans-serif;
   border-radius: 5px;
   border: 1px solid #d5d4d8;
   text-indent: 5px;
}

.form--button {
   grid-column: 1 / -1;
   font-family: "Karla", sans-serif;
   border-radius: 5px;
   background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
   color: white;
   border: none;
   cursor: pointer;
}

.meme {
   position: relative;
}

.meme--image {
   display: block;
   margin: auto;
   max-width: 100%;
   border-radius: 3px;
}

.meme--text {
   position: absolute;
   width: 80%;
   text-align: center;
   left: 50%;
   transform: translateX(-50%);
   margin: 15px 0;
   padding: 0 5px;
   font-family: impact, sans-serif;
   font-size: 2em;
   text-transform: uppercase;
   color: white;
   letter-spacing: 1px;
   text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
      -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
   bottom: 0;
}

.top {
   top: 0;
}

/* -------------------------Challenge 1------------------------ */
/* .container {
   padding: 2.25rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
}

.container > * {
   width: 70%;
   border-radius: 0.5rem;
   border: 2px solid lightgray;
}

.container > img:hover {
   opacity: 0.85;
}

.container > button {
   height: 3rem;
   font-weight: bold;
} */
/* -------------------------Challenge 2------------------------ */
/* .container {
   height: 100vh;
   background-color: lightgreen;
   padding: 4rem;
   text-align: center;
}

.container > button {
   width: 80vw;
   height: 3rem;
   font-size: large;
   font-weight: bold;
   background-color: lightgreen;
   color: white;
   border: 2px solid white;
   border-radius: 1rem;
   margin-bottom: 2rem;
} */

/* -------------------------Challenge 4------------------------ */
/* .state {
   height: 100vh;
   text-align: center;
   background-color: #0f0f12;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.state-title {
   width: 16rem;
   font-size: 2.5rem;
}
.state-value {
   width: 6rem;
   height: 6rem;
   background-color: white;
   color: #0f0f12;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   user-select: none;
} */
/* -------------------------Challenge 5------------------------ */
/* .counter {
   height: 100vh;
   text-align: center;
   background-color: #0f0f12;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}
.counter > button {
   width: 2.5rem;
   height: 2.5rem;
   background-color: #4a4a67;
   color: white;
   border: none;
   border-radius: 50%;
   font-size: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
   user-select: none;
}
.counter-count {
   width: 6rem;
   height: 6rem;
   background-color: white;
   color: #0f0f12;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   user-select: none;
}
.counter-minus {
   position: absolute;
   bottom: calc((100vh - 6rem) / 2);
   left: calc((100vw - 9rem) / 2);
}
.counter-plus {
   position: absolute;
   bottom: calc((100vh - 6rem) / 2);
   right: calc((100vw - 9rem) / 2);
} */
/* -------------------------Challenge 6------------------------ */
/* .state {
   padding-top: 1rem;
   height: 100vh;
   text-align: center;
   background-color: #0f0f12;
   color: white;
   display: flex;
   align-items: center;
   flex-direction: column;
}
.state-title {
   width: 16rem;
   font-size: 2.4rem;
}
.state-value {
   margin-top: 1rem;
   width: 6rem;
   height: 6rem;
   background-color: white;
   color: #0f0f12;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   user-select: none;
} */
/* -------------------------Challenge 7------------------------ */
/* .container {
   height: 100vh;
   background-color: lightgreen;
   padding: 4rem;
   text-align: center;
}

.container > button {
   width: 80vw;
   height: 3rem;
   font-size: large;
   font-weight: bold;
   background-color: lightgreen;
   color: white;
   border: 2px solid white;
   border-radius: 1rem;
   margin-bottom: 2rem;
} */
